%YAML 1.1
---
gfVersion: v1.0
class: app

name: medaka-gf
description: Polish nanopore assembly using medaka
repo_uri: https://gitlab.com/geneflow/apps/medaka-gf.git
version: '0.11.5-01'
inputs:
  input:
    label: Sequence FASTQ File
    description: Sequence FASTQ file
    type: File
  assembly:
    label: Assembled Contigs
    description: Assembled contigs (or unitigs)
    type: File
parameters:
  model:
    label: Sequence Model
    description: Sequence model to use for correction
    type: string
  output:
    label: Output Directory
    description: Output directory
    type: Directory
definition:
{% if agave %}
  agave:
    agave_app_id: {{ agave.appsPrefix }}-medaka-gf-0.11.5-01{{ revision }}
{% endif %}
  local:
    script: medaka-gf.sh
...